{% extends './hospitaldash.html' %}
{% block hospital_layout %}


<div class="container px-5">
    <div class="container-fluid mx-auto position-relative">
        <div class="container">
            <form action="{% url 'regs:retrieve_user' %}" method="POST">
                {% csrf_token %}

                <div class="row">
                    <div class="col-sm-6">
                        <label for="clinic_name" class="col-sm-10 col-form-label">National Identification Number
                            (NIN)</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="nida_no" name="nida_no"
                                    placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="padding-top: 3.5vh;">
                        <button type="submit" class="btn btn-primary mb-3">Retrieve Information</button>
                    </div>
                </div>
            </form>
            <div class="row-sm-12">

                <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            {% for key, value in user_detail.items %}
                            {% if forloop.counter <= 8 %}
                            <div class="col-sm-6">
                                <label for="{{key}}" class="col-sm-10 col-form-label">{{key}}</label>
                                <div class="mb-3 row">
                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="{{key}}" name="{{key}}"
                                            value="{{value}}">
                                    </div>
                                </div>
                            </div>
                            
                            {% endif %}
                            {% endfor %}
                        </div>
                        
                    </form>
                
                    
                    
            </div>
        </div>
        {% endblock %}