{% extends './hospitaldash.html' %}
{% block hospital_layout %}
<div class="container px-3">
    <form action="{% url 'regs:hospitaldash_medicaldata' %}" method="POST">
        <!-- previous pregnancy information start -->
        <div class="container mx-auto position-relative" style="top:10vh;">
            <div class="container">
                <div class="col-sm-11 py-2">
                    <hr>
                </div>
                <div>
                    <p class="display-6 text-center fw-bold ">Previous pregnancy information</p>
                </div>
                <!-- <form action="" method="post"> -->
                {% csrf_token %}
                <div class="row">
                    {{  form4.non_field.errors }}
                    {%  for field in form4   %}

                    <div class="col-sm-4">
                        <label for="{{form.label}}" class="col-sm-10 col-form-label">{{field.label}}</label>
                        <!-- error-handling starts -->
                        {% if field.errors %}
                        <div class="col-sm-10 alert alert-danger" role="alert">
                            {% for error in field.errors %}
                            <span class="error">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <!-- error handling ends -->
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                {{ field}}
                            </div>
                        </div>
                    </div>
                    {%  endfor   %}
                </div>
                <!-- <div class="col-sm-11 py-3" style="width:69vw;">
                        <button type="submit" class="btn btn-primary mb-3 w-100 position-relative "
                            style=" border-radius: 5px ;">Save</button>
                    </div> -->
                <!-- </form> -->
            </div>
        </div>
        <!-- end -->
        <!-- observation aspects of first mother visit -->
        <div class="container mx-auto position-relative" style="top:10vh;">
            <div class="col-sm-11 py-2">
                <hr>
            </div>
            <div class="container">
                <div>
                    <p class="display-6 text-center fw-bold ">Observation aspects of a mother on first visit</p>
                </div>
                <!-- <form action="" method="post"> -->
                {% csrf_token %}
                <div class="row">
                    {{  form3.non_field.errors }}
                    {%  for field in form3   %}

                    <div class="col-sm-4">
                        <div class="col-sm-10">
                            <label for="{{form.label}}" class="col-sm-11 col-form-label">{{field.label}}</label>
                            <!-- error-handling starts -->
                            {% if field.errors %}
                            <div class="col-sm-12 alert alert-danger" role="alert">
                                {% for error in field.errors %}
                                <span class="error">{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <!-- error handling ends -->
                            {{ field}}
                        </div>

                    </div>
                    {%  endfor   %}
                </div>
                <!-- <div class="col-sm-11 py-3" style="width:69vw;">
                        <button type="submit" class="btn btn-primary mb-3 w-100 position-relative "
                            style=" border-radius: 5px ;">Save</button>
                    </div> -->
                <!-- </form> -->
            </div>
        </div>
        <!-- end -->
        <!-- special laboratory tests -->
        <div class="container mx-auto position-relative" style="top:10vh;">
            <div class="col-sm-11 py-2">
                <hr>
            </div>
            <div class="container">
                <div>
                    <p class="display-6 text-center fw-bold ">Special Laboratory Tests</p>
                </div>
                <!-- <form action="" method="post"> -->
                {% csrf_token %}
                <div class="row">
                    {{  form2.non_field.errors }}
                    {%  for field in form2   %}

                    <div class="col-sm-4">
                        <label for="{{form.label}}" class="col-sm-10 col-form-label">{{field.label}}</label>
                        <!-- error-handling starts -->
                        {% if field.errors %}
                        <div class="col-sm-10 alert alert-danger" role="alert">
                            {% for error in field.errors %}
                            <span class="error">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <!-- error handling ends -->
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                {{ field}}
                            </div>
                        </div>
                    </div>
                    {%  endfor   %}
                </div>
                <!-- <div class="col-sm-11 py-3" style="width:69vw;">
                        <button type="submit" class="btn btn-primary mb-3 w-100 position-relative "
                            style=" border-radius: 5px ;">Save</button>
                    </div> -->
                <!-- </form> -->
            </div>
        </div>
        <!-- end -->
        <!-- clinical attendance records -->
        <div class="container mx-auto position-relative" style="top:10vh;">
            <div class="container">
                <div class="col-sm-11 py-2">
                    <hr>
                </div>
                <div>
                    <p class="display-6 text-center fw-bold ">Clinical attendance records</p>
                </div>
                <!-- <form action="" method="post"> -->
                {% csrf_token %}
                <div class="row">
                    {{  form1.non_field.errors }}
                    {%  for field in form1   %}

                    <div class="col-sm-4">
                        <label for="{{form.label}}" class="col-sm-10 col-form-label">{{field.label}}</label>
                        <!-- error-handling starts -->
                        {% if field.errors %}
                        <div class="col-sm-10 alert alert-danger" role="alert">
                            {% for error in field.errors %}
                            <span class="error">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <!-- error handling ends -->
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                {{ field}}
                            </div>
                        </div>
                    </div>
                    {%  endfor   %}
                </div>
                <!-- <div class="col-sm-11 py-3" style="width:69vw;">
                        <button type="submit" class="btn btn-primary mb-3 w-100 position-relative "
                            style=" border-radius: 5px ;">Save</button>
                    </div> -->
                <!-- </form> -->
            </div>
        </div>
        <!-- end -->
        <!-- mother child Transmision Form -->
        <div class="container mx-auto position-relative" style="top:10vh;">
            <div class="container">
                <div class="col-sm-11 py-2">
                    <hr>
                </div>
                <div>
                    <p class="display-6 text-center fw-bold ">Mother Child Transmision</p>
                </div>
                <!-- <form action="" method="post"> -->
                {% csrf_token %}
                <div class="row">
                    {{  form5.non_field.errors }}
                    {%  for field in form5   %}

                    <div class="col-sm-4">
                        <label for="{{form.label}}" class="col-sm-10 col-form-label">{{field.label}}</label>
                        <!-- error-handling starts -->
                        {% if field.errors %}
                        <div class="col-sm-10 alert alert-danger" role="alert">
                            {% for error in field.errors %}
                            <span class="error">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <!-- error handling ends -->
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                {{ field}}
                            </div>
                        </div>
                    </div>
                    {%  endfor   %}
                </div>
                <!-- <div class="col-sm-11 py-3" style="width:69vw;">
                        <button type="submit" class="btn btn-primary mb-3 w-100 position-relative "
                            style=" border-radius: 5px ;">Save</button>
                    </div> -->
                <!-- </form> -->
            </div>
        </div>
        <!-- end -->
        <!-- submit button -->
        <div class="container mx-auto position-relative" style="top:10vh;">
            <div class="container">
                <div class="col-sm-11 py-5" style="width:69vw;">
                    <button type="submit" class="btn btn-primary mb-3 w-100 position-relative "
                        style=" border-radius: 5px ;">Save</button>
                </div>
            </div>
        </div>
        <!-- submit button -->

    </form>
</div>

{% endblock %}