{% extends 'regs/hospitaldash.html' %}


{% block hospital_layout %}
<div class="container px-4 py-5">

    <!-- patient details -->
    <div class="container mx-auto position-relative py-5 border border-secondary rounded shadow" style="top:10vh;">
        <div class="row py-2">
            <div class="col-sm-6">
                <span class="fw-bold px-2"> Patient name. </span>
                <span class="text-secondary px-3">{{mother.first_name}} {{mother.last_name}}</span>
            </div>
            <div class="col-sm-5">
                <span class="fw-bold px-2"> Patient registration number. </span>
                <span class="text-secondary px-2">#00{{mother.id}}</span>
            </div>
        </div>
    </div>
    <!-- end -->

    <!-- form two starts here -->
    <div class="container mx-auto position-relative py-4" style="top:10vh;">
        <div class="container">
            <div>
                <p class="display-6 text-center fw-bold ">Previous pregnancies information</p>
            </div>
            <form action="" method="get" class="py-5">
                <div class="row">

                    <div class="col">

                        <label for="clinic_name" class="col-sm-10 col-form-label">Pregnancy Count</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="pregnancy_count"
                                    value="{{ mother.pregnancy_info.pregnancy_count }}" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <label for="Street /Village" class="col-sm-10 col-form-label">Birth Count</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="street_name"
                                    value="{{ mother.pregnancy_info.birth_count }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Street Chairperson" class="col-sm-10 col-form-label">Children Alive </label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="street_chairperson"
                                    value="{{ mother.pregnancy_info.children_alive }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Number of Bad Pregnancy" class="col-sm-10 col-form-label">Bad
                            Pregnancies</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="mother_reg_no"
                                    value="{{ mother.pregnancy_info.bad_pregnancies }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="Destructed Pregnancy Number" class="col-sm-12 col-form-label">Destructed
                            Pregnancies
                            Count</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="destructed_pregnancy_count"
                                    value="{{ mother.pregnancy_info.destructed_pregnancies_count  }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Year Of Occurance" class="col-sm-10 col-form-label">Year of
                            Occurance</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="year_of_occurance"
                                    value="{{ mother.pregnancy_info.year_of_occurance }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Age Of Pregnancy" class="col-sm-10 col-form-label">Age of Pregnancy</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="pregnancy_age"
                                    value="{{ mother.pregnancy_info.age_of_pregnancy }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Destruction Cause" class="col-sm-10 col-form-label">Destruction
                            Cause</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="destruction_cause"
                                    value=" {{ mother.pregnancy_info.destruction_cause }}" readonly>
                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
    <!-- form two ends here -->

    <!-- form three starts here -->
    <div class="container mx-auto position-relative" style="top:10vh;">
        <div class="container">
            <div>
                <p class="display-6 text-center fw-bold ">Observation aspects first mother visit</p>
            </div>
            <!-- boolean layout -->
            <div class="row py-2">
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">Age below 20 years</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.age_below_20 }}</span>
                </div>
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">10 years or more since last birth</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.ten_years_or_more_since_last_birth }}</span>
                </div>
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">Operation by C-section</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.c_section_operation }}</span>
                </div>
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">Still birth</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.still_birth }}</span>
                </div>
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">5th pregnancy or more</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.fifth_pregnancy_or_more }}</span>
                </div>
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">Height below 150 cm</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.height_below_150cm }}</span>
                </div>
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">Delivering by C-Section / Vacuum</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.c_section_or_vacuum_delivery }}</span>
                </div>
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">Back rectum blockage</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.rectum_blockage }}</span>
                </div>
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">Pregnancy Age Above 40</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.pregnancy_age_above_40 }}</span>
                </div>
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">2 or more destructed pregnancies</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.two_or_more_destructed_pregnancies }}</span>
                </div>
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">Heart Disease</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.heart_disease }}</span>
                </div>
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">Diabetes</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.diabetes }}</span>
                </div>
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">Tuberculosis</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.tuberculosis }}</span>
                </div>
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">First pregnancy above 35</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.first_pregnancy_above_35 }}</span>
                </div>
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">Waist disability</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.waist_disability }}</span>
                </div>
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">Excess bleeding after delivery</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.excess_bleeding_after_delivery }}</span>
                </div>
                
                <div class="col-sm-6 py-2">
                    <span class="fw-normal text-dark px-2">Mother has twins</span>
                    <span class="fw-normal text-secondary px-2">{{ mother.mother_visit.mother_has_twins }}</span>
                </div>
                
                
               

            </div>
            <!-- end -->

        </div>
    </div>
    <!-- form three ends here -->

    <!-- form four starts here -->
    <div class="container mx-auto position-relative" style="top:10vh;">
        <div class="container">
            <div>
                <p class="display-6 fw-bold text-center">Special laboratory tests.</p>
            </div>
            <form action="" method="get" class="py-5">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="Blood Group Type" class="col-sm-10 col-form-label">Blood Group Type</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select" name="blood_group" disabled>
                                    <option value="A+" id="{{ mother.lab_tests.blood_group }}" selected>
                                        {{ mother.lab_tests.blood_group }} </option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="Blood Rhesus Factor" class="col-sm-10 col-form-label">Blood Rhesus
                            Factor</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select" name="rhesus_factor" disabled>
                                    <option value="+" id="{{ mother.lab_tests.blood_rhesus_factor }}" selected>
                                        {{ mother.lab_tests.blood_rhesus_factor }}</option>

                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="Street Chairperson" class="col-sm-10 col-form-label">Syphilis Sero Status
                        </label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select name="syphilis_sero_status" class="form-select" disabled>
                                    <option value="Positive" id="{{ mother.lab_tests.syphilis_sero_status }}" selected>
                                        {{ mother.lab_tests.syphilis_sero_status }}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="Blood Count" class="col-sm-10 col-form-label">Blood Count</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="blood_count" placeholder=""
                                    value="{{ mother.lab_tests.blood_count }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 ">
                        <label for="protenuria" class="col-sm-10 col-form-label">Protenuria</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10 w-100">
                                <input type="text" required class="form-control" id="protenuria"
                                    value="{{ mother.lab_tests.proteinuria }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 ">
                        <label for="Other Tests" class="col-sm-10 col-form-label">Other Tests</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10 w-100">
                                <input type="text" required class="form-control" id="other_tests"
                                    value="{{ mother.lab_tests.other_tests }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <!-- form four ends here -->

    <!-- form five starts here -->
    <div class="container mx-auto position-relative" style="top:10vh;">
        <div class="container">
            <div>
                <p class="display-6 text-center fw-bold ">Clinical attendance records</p>
            </div>
            <form action="" method="get" class="py-5">
                <!-- row-2 -->
                <div class="row">
                    <div class="col">
                        <label for="Weight" class="col-sm-10 col-form-label">Weight (Kg)</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="weight_kg"
                                    value="{{mother.clinical_attendance.weight}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Blood Pressure" class="col-sm-10 col-form-label">Blood Pressure</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="blood_pressure"
                                    value="{{mother.clinical_attendance.blood_pressure}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Albumin In Urine" class="col-sm-10 col-form-label">Albumin In Urine
                            (+)</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="albumin_in_urine"
                                    value="{{mother.clinical_attendance.albumin_in_urine}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Blood" class="col-sm-10 col-form-label">Blood/ Hb (8.5gm/d)</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="blood_hb"
                                    value="{{mother.clinical_attendance.blood_hb}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row-2 -->
                <div class="row">
                    <div class="col">
                        <label for="Age Pregnancy Per Week" class="col-sm-10 col-form-label">Age Pregnancy Per
                            Week</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="age_pregnancy_per_week"
                                    value="{{mother.clinical_attendance.age_pregnancy_per_week}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Height Per Week" class="col-sm-10 col-form-label">Height Per Week</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="height_per_week"
                                    value="{{mother.clinical_attendance.height_per_week}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Child's Womb Position" class="col-sm-10 col-form-label">Child's Womb
                            Position</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select" disabled>
                                    <option value="{{mother.clinical_attendance.child_wombs_position}}" selected>
                                        {{mother.clinical_attendance.child_womb_position}}</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Frontal Part" class="col-sm-10 col-form-label">Frontal Part (36
                            <sup>th</sup> Week
                            )</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="frontal_part"
                                    value="{{mother.clinical_attendance.frontal_part_36th_week}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row-3 -->
                <div class="row">
                    <div class="col">
                        <label for="Child Moves After
                        20" class="col-sm-12 col-form-label">Child Moves After
                            20
                            <sup>th</sup> Week </label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select form-select" aria-label=".form-select-sm" disabled>
                                    <option selected>{{mother.clinical_attendance.child_moves_after_20th_week}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Height Per Week" class="col-sm-12 col-form-label">Child Heart Beat After 20
                            <sup>th</sup> Wk </label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select form-select" aria-label=".form-select-sm example" disabled>
                                    <option selected>{{mother.clinical_attendance.child_heartbeat_after_20th_week}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Child's Womb Position" class="col-sm-12 col-form-label">Swollen Legs
                            (Oedema)(++)</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="child_wombs_position"
                                    value="{{mother.clinical_attendance.swollen_legs_oedema}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Ferrous Sulphate (2@day)" class="col-sm-12 col-form-label">Ferrous Sulphate
                            (2@day)</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="frontal part" value="{{mother.clinical_attendance.ferrous_sulphate}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row-4 -->
                <div class="row">
                    <div class="col">
                        <label for="Folic Acid each day" class="col-sm-12 col-form-label">Folic Acid
                            (1@day)</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select form-select" aria-label=".form-select-sm " disabled>
                                    <option selected>{{mother.clinical_attendance.folic_acid}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="MalariaDose(SP)(3pillsfro week-14)"
                            class="col-sm-12 col-form-label">MalariaDose(SP)(from.wk-14)</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select form-select" aria-label="MalariaDose" disabled>
                                    <option selected>{{mother.clinical_attendance.malaria_dose}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Mebandozole(500 gm start)" class="col-sm-12 col-form-label">Mebandozole(500
                            gm
                            start)</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="child_wombs_position"
                                    value="{{mother.clinical_attendance.mebandozole}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Frontal Part" class="col-sm-10 col-form-label">Tettanus Vaccine</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select form-select" aria-label=".form-select-sm " disabled>
                                    <option selected>{{mother.clinical_attendance.tetanus_vaccine}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row-5 -->
                <!-- <div class="row">
                    <p class="fs-2 lean text-center fw-light py-2 fw-bold">Mother Has Been Advised On</p>
                    <div class="col">
                        <label for="Age Pregnancy Per Week" class="col-sm-12 col-form-label">Dangerous Signs /
                            Symptoms</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select form-select" aria-label=".form-select-sm" disabled>
                                    <option selected>{{mother.mc_transmission.pmtct_art}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Family Planning" class="col-sm-10 col-form-label">Family Planning</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select form-select" aria-label=".form-select-sm example">
                                    <option selected>Choose</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Delivery Preparation" class="col-sm-12 col-form-label">Delivery
                            Preparations</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select form-select" aria-label=".form-select-sm example">
                                    <option selected>Choose</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Safe Sex and Condom Usage" class="col-sm-12 col-form-label">Safe Sex and
                            Condom Usage</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select form-select" aria-label=".form-select-sm example">
                                    <option selected>Choose</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- row-6 -->
                <div class="row">
                    <p class="fs-2 lean text-center fw-light py-2 fw-bold ">Prevention Of Mother Child Transmission</p>
                    <div class="col">
                        <label for="PMTCT / ART (0,-1,2)" class="col-sm-10 col-form-label">PMTCT / ART
                            (0,-1,2)</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select form-select" aria-label=".form-select-sm" disabled>
                                    <option selected>{{mother.mc_transmission.pmtct_art}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Family Planning" class="col-sm-10 col-form-label">Medicine (ART)</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select form-select" aria-label=".form-select-sm " disabled>
                                    <option selected>{{mother.mc_transmission.medicine_art}} </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="CTX Before Diagnosing Level Of Sickness" class="col-sm-12 col-form-label ">CTX
                            Before Sickness Diagnosis</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select form-select" aria-label=".form-select-sm" disabled>
                                    <option selected>{{mother.mc_transmission.ctx_before_sickness_diagnosis}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Relation with CTC Service" class="col-sm-12 col-form-label">Relation with
                            CTC Service</label>
                        <div class="mb-3 row">
                            <div class="col-sm-12">
                                <select class="form-select form-select" aria-label=".form-select-sm " disabled>
                                    <option selected>{{mother.mc_transmission.relation_with_ctc_service}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row-7 -->
                <div class="row">
                    <div class="col">
                        <label for="Child's Food Diet" class="col-sm-10 col-form-label">Child's Food
                            Diet</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select form-select" aria-label=".form-select-sm" disabled>
                                    <option selected>{{mother.mc_transmission.child_food_diet}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Adherence" class="col-sm-10 col-form-label">Adherence</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select form-select" aria-label=".form-select-sm " disabled>
                                    <option selected>{{mother.mc_transmission.adherence}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Date of Attendance" class="col-sm-12 col-form-label ">Date Of
                            Attendance</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="date_of_attendance" value="{{mother.mc_transmission.date_of_attendance}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Relation with CTC Service" class="col-sm-10 col-form-label">Returning
                            Date</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="date_of_returning" value="{{mother.mc_transmission.returning_date}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row-8 -->
                <div class="row">
                    <div class="col">
                        <label for="Name of the Medical Personnel" class="col-sm-10 col-form-label">Name of the
                            MC Personnel</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="name_of_mc_personnel"
                                    value="{{mother.mc_transmission.mc_personnel_name}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Adherence" class="col-sm-12 col-form-label">Position Of the MC
                            Personnel</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select form-select" aria-label=".form-select-sm " disabled>
                                    <option selected>{{mother.mc_transmission.mc_personnel_position}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Date of Attendance" class="col-sm-12 col-form-label ">Comment on the
                            Situation</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <select class="form-select form-select" aria-label=".form-select-sm " disabled>
                                    <option selected>{{mother.mc_transmission.comment_on_situation}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="signature_of_mc_personnel" class="col-sm-12 col-form-label">Sign Of the
                            MC Personnel</label>
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="signature_mcpersonnel"
                                    value="{{mother.mc_transmission.mc_personnel_sign}}" readonly>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <label for="hospital_suggestion" class="col-sm-12 col-form-label">Mother is advised to Deliver
                            at which Hospital</label>
                        <div class="mb-3 row">
                            <div class="col-sm-12">
                                <input type="text" required class="form-control" id="signature_mcpersonnel"
                                    value="{{mother.mc_transmission.hospital_advised_to_deliver}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary mb-3 w-100 position-relative "
                        style=" border-radius: 5px ;"><i class="bi bi-pencil-square"></i> Edit Card.</button>
                </div>
            </form>
        </div>
    </div>
    <!-- form five ends here -->
</div>
{% endblock %}