{% extends './researchdash.html' %}


{% block researchlayout %}

<!-- data request full table -->

<div class="container py-5 col px-4">
    <!-- test -->
    <div class="row">

        <!-- publication data files -->
        <table class="table table-responsive table-lg table-bordered bg-light caption-top " aria-label="some"
            style="border-radius: 15px;" style="width:85vw;">
            <caption>Publications</caption>
            <thead class="table-primary">
                <tr>
                    <th scope="col"># (S/NO)</th>
                    <th scope="col">Publication Author</th>
                    <th scope="col">Publication Title</th>
                    <th scope="col">Publication Date</th>
                    <th scope="col">Publication Description</th>
                    <th scope="col">Field Of Research</th>
                    <th scope="col">Publication Article</th>

                </tr>
            </thead>
            <tbody>
                {% for publication in publications %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{publication.authors}}</td>
                    <td>{{publication.title}}</td>
                    <td>{{publication.publication_date}}</td>
                    <td>{{publication.description}}</td>
                    <td>{{publication.medical_field}}</td>
                    <td> <a href="{{publication.article_file}}"><button type="button" class="btn btn-success"> Download
                            </button></a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- end -->
        <!-- submit button -->
        <div class="row px-5 py-2 position-relative" style="right:0vw;">
            <button type="button" class="btn btn-primary position-absolute  w-25 end-0 " data-bs-toggle="modal"
                data-bs-target="#publish_modal">Publish a New Research</button>
        </div>
        <!-- end -->
        <!-- publish new research modal -->
        <div class="modal fade " id="publish_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Publish A New Research</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'regs:researchdashpublications' %}" method="POST"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class=" row ">
                                <!-- publication form starts -->

                                {% for field in research_form %}
                                <!-- error-handling starts -->
                                {% if field.errors %}
                                <div class="col-sm-12 alert alert-danger" role="alert">
                                    <strong class="px-3">{{ field.label }}</strong>
                                    {% for error in field.errors %}
                                    <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <!-- error handling ends -->
                                <div class="col-sm-6">
                                    <label for="{{form.label}}" class="col-sm-10 col-form-label">{{field.label}}</label>
                                    <div class="mb-3 row">
                                        <div class="col-sm-12">
                                            {{field}}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                <!-- ends -->
                                <!-- submit button -->
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary mb-3 w-100 position-relative "
                                            style=" border-radius: 5px ;" name="research_form_submit">Publish New Research</button>
                                    </div>
                                </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end -->
    </div>
    <!-- end -->
</div>
<div class="container py-5 col px-4">
    <div class="row">
   
            <table class="table table-responsive table-lg table-bordered bg-light caption-top " aria-label="some"
                style="border-radius: 15px;" style="width:85vw;">
                <caption>Data Requests</caption>
                <thead class="table-primary">
                    <tr>
                        <th scope="col"># (S/NO)</th>
                        <th scope="col">Data Request Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Data Description</th>
                        <th scope="col">Request Date</th>
                        <th scope="col">Download Permit</th>

                    </tr>
                </thead>
                <tbody>
                    <!-- rendering data requests -->
                    {% for data_request in data_requests %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{data_request.title}}</td>
                        <td>{{data_request.short_description}}</td>
                        <td>{{data_request.data_description}}</td>
                        <td>{{data_request.request_date}}</td>
                        <td><a href="{{data_request.research_permit}}"><button type="button" class="btn btn-success"> Download
                        </button></a> </td>
                    </tr>
                    {% endfor %}
                    <!-- end -->
                    
                </tbody>
            </table>

        <div class="row px-5 py-2 position-relative" style="right:0vw;">
            <button type="button" class="btn btn-primary position-absolute  w-25 end-0 " data-bs-toggle="modal"
                data-bs-target="#datarequest">Add Data Request</button>
        </div>

        <!-- modal to add a request starts -->
        <!-- Modal -->
        <div class="modal fade " id="datarequest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add Data Request</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'regs:researchdashpublications' %}" method="POST"
                        enctype="multipart/form-data" >
                            {% csrf_token %}
                            <!-- data request form test -->
                            <div class="row">
                                {% for field in  data_request_form %}
                                <!-- error-handling starts -->
                                {% if field.errors %}
                                <div class="col-sm-12 alert alert-danger" role="alert">
                                    <strong class="px-3">{{ field.label }}</strong>
                                    {% for error in field.errors %}
                                    <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <!-- error handling ends -->
                                <div class="col-sm-12">
                                    <label for="{{form.label}}" class="col-sm-10 col-form-label">{{field.label}}</label>
                                    <div class="mb-3">
                                        <div class="col">
                                            {{field}}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- end -->
                            <!-- submit button -->
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary mb-3 w-100 position-relative "
                                        style=" border-radius: 5px ;" name="data_request_form_submit">Submit New Request</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            <!-- modal to add a request ends here -->
        </div>
    </div>
</div>

{% endblock %}